# > filter.snippet//ncstlifan// https://github.com/ncstlifan
# > 


# > Google重定向
^http?:\/\/(www.)?(g|google)\.cn url 302 https://www.google.com
^https?:\/\/(ditu|maps).google\.cn url 302 https://maps.google.com
^https?:\/\/(www.)?(g|google)\.cn url 302 https://www.google.com
# Request-Body //Testflight无视地区限制
^https?:\/\/testflight\.apple\.com\/v2\/accounts\/.*\/apps\/\d*\/builds\/\d*\/install url request-body storefrontId" : ".*", request-body storefrontId" : "143441-1,29",


# > MITM
hostname = ditu.google.cn,google.cn,map.google.cn,www.g.cn,www.google.cn,testflight.apple.com